.main{
    border-radius: 10px;
    background-color: #2f1381;
    width: 500px;
    height: 500px;
    margin:auto;
    color:white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.alpha{
    background-color: white;
    color: green;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
}